%h4.text-center Diversity and inclusion scholarship
%p GitLab, with support from CNCF, is offering diversity and inclusion scholarships to individuals who may not otherwise have the opportunity to attend our Commit events. Applications are open for Brooklyn and London.
%p.text-center
  %a.btn.cta-btn.orange{ target: "_blank", href: "https://docs.google.com/forms/d/e/1FAIpQLSeJ4mLWqr235bQMq_zXUCyYHlledSyQfBW04FpWf14SgYiT1w/viewform?usp=sf_link" } Apply today
