---
layout: markdown_page
title: "Product Vision - Package"
---

{:.no_toc}

- TOC
{:toc}

## Package management

The Package stage allows you to publish, consume and discover packages, all in one place. We believe that source code and dependencies should live in one secure environment, protected by your GitLab credentials. The efficiencies gained by centralization allow you to focus on productivity. By integrating with GitLab's [CI/CD product](/direction/cicd), we can ensure efficient and reliable pipelines.

GitLab Package is part of the [CI/CD](/direction/cicd) department, and includes elements of
[mobile development and delivery](/direction/mobile) use cases; if you're
interested in those topics, be sure to check out those links.

Feel free to reach out to PM Tim Rizzi ([E-Mail](mailto:trizzi@gitlab.com)) if you'd like to provide feedback or ask questions about what's coming.

- See an up-to-date [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage)
- Stage usage can be tracked at the Package [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/491720/Package-Dashboard)

## Strategy

<%= partial("direction/cicd/strategies/package") %>

## Themes

There are a few important north stars we are keeping sight of to guide us forward in this space. With each of these, we're focusing on complete (what we call minimally lovable) features.

We track epics for many of the major deliverables associated with these north stars,
you can view them on a calendar at [this link](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3A%3Apackage&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS).

#### Single Application CI/CD

<%= partial("direction/cicd/themes/integrated_solutions") %>

#### Do Powerful Things Easily

<%= partial("direction/cicd/themes/cool_things") %>

#### Compliance as Code & Secure Secrets

<%= partial("direction/cicd/themes/compliance_as_code") %>

#### Universal Package Management

<%= partial("direction/cicd/themes/universal_package_management") %>

<%= partial("direction/categories", :locals => { :stageKey => "package" }) %>

<%= partial("direction/contribute", :locals => { :stageKey => "package" }) %>

## Prioritization Process

It's important to call out that the below plan can change any moment and should not be taken as a hard commitment, though we do try to keep things generally stable. In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization) as the product team at large. Issues will tend to flow from having no milestone, to being added to the backlog, to being added to this page and/or a specific milestone for delivery.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "package" }) %>
